.heatmap-container {
  position: relative;
  width: 100%;
  height: 90vh;
  background: #001f3f; /* dark ocean background */
}

.heatmap-map {
  width: 100%;
  height: 100%;
}
.heatmap-container {
  position: relative;
}


.heatmap-legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 14px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-size: 14px;
}

.heatmap-legend label {
  display: block;
  margin: 4px 0;
  cursor: pointer;
}
